HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

local_deploy.sh
stag_deploy.sh
target
mytest/
.settings
.classpath
.project
.settings
.iml
.DS_Store
.mvn
mvnw*
.idea
*.iml
gwt-unitCache/
widgetsets/
*.log
*.cdr
*.edr
.springBeans
.tmp
.metadata
bin
gen
.gwt
*.mwb.bak
environment.properties
application-local.properties
dev/
release.sh